<!-- Default Statcounter code for Vi Dieu Khien Co Ban
https://vidieukhiencoban.github.io/ -->
<script type="text/javascript">
var sc_project=11766939; 
var sc_invisible=0; 
var sc_security="e6cc85e3"; 
var scJsHost = (("https:" == document.location.protocol) ? "https://secure." :
"http://www.");
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="http://statcounter.com/" target="_blank"><img class="statcounter"
src="//c.statcounter.com/11766939/0/e6cc85e3/0/" alt="Web
Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->